{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Bem vindo!<h2>
    <h3>O Sem cabresto é uma wiki que guarda informações sobre Políticos e Candidatos, tendo como foco os participantes das eleições, e atribuindo pontos e qualificações para eles. Um dos principais focos do sistema é verificar se o politico é Ficha limpa, além disso também é interessante verificar se o político possui algum processo em andamento, principais iterações com os cidadões, decições tomadas durante seu mandato. Para obter informações necessarias prentendemos usar sites como: politicos.org.br, votoaberto.com.br, votenaweb.com.br, jusbrasil.com.br e outros. O principal objetivo é facilitar a busca por dados da carreira política brasileira.
 <h3>
 <h2>Para começar<h2>
    <h3>Escolha pesquisa ou pesquisa avançada<h3>

    <h3>Anna - Jv - Rose<h3>
  </div>
{% endblock %}
