<!doctype html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<title>Sem Cabresto</title>

	<script type="text/javascript" src="/static/js/jquery.mim.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.mim.js"></script>

	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
<h1>
Sem Cabresto
<h1>

<form class="form-inline" role="form">
</form>
	<div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Pesquisa</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Nome, projetos, noticias..">
  </div>
  <button type="submit" class="btn btn-default">Pesquisar</button>
  <button type="submit" class="btn btn-default">Avançado</button>
</body>
</html>