{% extends "bootstrap/base.html" %}
{% block title %}Busca pós{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
  <h1>Bem vindo ao busca Pós!</h1>


  <form class="form-inline" role="form" action="search/">
    <div class="submit">
      <label for="universidade">Nome da Universidade ou sigla</label>
      <input type="name" class="form-control" id="universidade" placeholder="Universidade">
    </div>

    <div class="submit">
      <label for="areaPesquisa">&Aacute;rea de pesquisa</label>
      <input type="name" class="form-control" id="areaPesquisa" placeholder="&Aacute;rea de pesquisa">
    </div>
    <label for="professor">Nome do professor</label>
    <input type="name" class="form-control" id="professor" placeholder="Professor">
    
    <p><div class="searchButtons">       

        <div class="collapse" id="advancedForm">
          <p>
          <label for="conceitoCapes">Conceito Capes <label>
          <select class="form-control" name="conceito">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>

        <button type="submit" class="btn btn-default">Pesquisar</button>
        
        <button type="button" class="btn btn-default" data-toggle="collapse"
                data-target="#advancedForm"> 
          Pesquisa Avançada <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
      </div>
  </form>
</div>

{% endblock %}
